* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

.hero {
  height: 100vh;
  background: #1e293b;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  margin: 20px 0;
  font-size: 1.3rem;
}

button {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.about,
.skills,
.contact {
  padding: 80px 20px;
  text-align: center;
}

.skill-list {
  margin-top: 20px;
}

.skill-list span {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: white;
  border-radius: 8px;
}